---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle: string = "Notas";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/notas/">Notas</a></li>
  </ul>
</BaseLayout>
