---
const BTN = "Alerta BTN";
---

<button id="button"> {BTN} </button>

<script>
  import { zustandStore } from "../zustand/useStore";

  const BTN = document.getElementById("button");
  const alerta = "Hola";

  BTN?.addEventListener("click", () => {
    alert(alerta);
    zustandStore.getState().decrement();
  });
</script>
